<strong>HI, {{ student }}</strong>
<p style="font-size: 18px; color: #fff; text-align: center; background-color: #FF0000">We just answered your question, come check it out!.</p>
<p style="background-color: #FFFAFA";>
	<strong>Your question: </strong>{{ question }}<br />
	<strong>Answer: </strong>{{ answer }}
</p>
